[submodule "themes/neovim-theme"]
	path = themes/neovim-theme
	url = https://github.com/Super-Botman/neovim-theme.git
[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/Speyll/anemone.git
