[submodule "themes/neovim-theme"]
	path = themes/neovim-theme
	url = https://github.com/Super-Botman/neovim-theme.git
[submodule "themes/zola-hacker"]
	path = themes/zola-hacker
	url = https://github.com/en9inerd/zola-hacker.git
