{%- if config.extra.contact_form_script_id %}
<form id="contact" class="contact-form" data-script-id="{{ config.extra.contact_form_script_id }}">
  <div class="form-elements">
    <input type="text" name="itsatrap" value="" aria-hidden="true" tabindex="-1" autocomplete="off" style="display:none" />
    <input type="text" name="_gotcha" value="" aria-hidden="true" tabindex="-1" autocomplete="off" style="position:absolute;left:-9999px" />
    <input id="name" type="text" name="name" placeholder="Name" maxlength="50" required>
    <input id="email" type="email" name="email" placeholder="Email" maxlength="254" required>
    <textarea id="body" name="body" placeholder="Message" maxlength="1000" required></textarea>
    <div class="submit-btn-align"><input id="submit" class="btn" type="submit" value="Send"></div>
  </div>
  <div class="thankyou-message">
    <h2>
      <em>Thanks</em>
      for contacting me!
      I will get back to you soon!
    </h2>
  </div>
  <div class="error-message">
    <h2>Something went wrong. Please try again later.</h2>
  </div>
</form>
<script src="{{ get_url(path="/js/form-submission-handler.js") }}"></script>
{%- endif -%}
